h1, h2 { 
    text-align: center;
}
img{
    margin: 0 auto 0;
    display: block;
}
p{
    text-align: center;
}
h2.font-cinzel {
    font-family: 'Cinzel', serif;
}
h2.font-lobster {
    font-family: 'Lobster', Arial, Helvetica, sans-serif
}

/* lobster-regular - latin */
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lobster-v23-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lobster-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lobster-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lobster-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lobster-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lobster-v23-latin-regular.svg#Lobster') format('svg'); /* Legacy iOS */
  }